{{ define "author_biography" }}

<link rel="stylesheet" href="../../assets/css/book.css">

<link rel="stylesheet" href="../../assets/css/biography.css">


<body>

    <div class="container">
        <main>
            <div class="category">
                <div class="list">
                    {{ if .Auth }}
                   <span><a href="/user/">Мой профиль</a></span>
                   <span><a href="/user/library">Отложенные</a></span>
                   <span><a href="/user/favourites">Закладки</a></span>
                   <hr>
                   {{ end }}

                   <span><a href="/">Новиники</a></span>
                   <span><a href="/books/">Популярные</a></span>
                   <span><a href="/books/genre/all">Все жанры</a></span>
                   <span><a href="/authors/">Авторы</a></span>
                   {{ range $_, $g := .Genres }}
                   <span><a href="/books/genre/{{ $g.Link }}">{{ $g.Name }}</a></span>
                   {{ end }}
               </div>
            </div>
            <div class="main">
                <div class="link">
                    <div>
                        {{ range $_, $u := .URL_NAME }}
                        <a href='{{ index $.URLs $u }}'>{{ $u }}</a>
                        {{ end }}
                    </div>
                    <hr>
                </div>
                <h2>{{ .Title }}</h2>

                <div class="biography">
                    <div class="info">
                        <div class="img">
                            <img src="../../assets/image/authors/{{ .Author.Photo }}" alt="">
                        </div>
                        <div class="stat">
                            <div class="name"><span class="text">Фамилия:</span> <span>{{ .Author.Lastname }}</span></div>
                            <div class="name"><span class="text">Имя:</span> <span>{{ .Author.Firstname }}</span></div>
                            <div class="name"><span class="text">Отчество:</span> <span>{{ .Author.Patronymic }}</span></div>
                            <div class="name"><span class="text">Дата рождения:</span> <span>{{ .Author.DateOfBirth }}</span></div>
                            <div class="name"><span class="text">Дата смерти:</span> <span>{{ .Author.DateOfDeath}}</span></div>
                            <div class="name"><span class="text">Место рождения:</span> <span>{{ .Author.BirthPlace }}</span></div>
                        </div>
                    </div>
                    <div class="content">
                        {{ range $_, $t := .Text }}
                        <p>
                            {{$t}}
                        </p>
                        {{ end }}
                        <a class="b-list" href="/books/list/{{.Author.UUID}}">Список приозведений {{ .Author.Lastname }}а</a>
                    </div>

                </div>

            </div>    
        </main>
    </div>    
</body>        
{{ end }}
