{{ define "index" }}


<body>

    <div class="container">
        <main>
            <div class="category">
                <div class="list">
                     {{ if .Auth }}
                    <span><a href="/user/profile">Мой профиль</a></span>
                    <span><a href="/user/library">Отложенные</a></span>
                    <span><a href="/user/favourites">Закладки</a></span>
                    <hr>
                    {{ end }}
 
                    <span><a href="/">Новиники</a></span>
                    <span><a href="/books/genre/all">Все жанры</a></span>
                    <span><a href="/authors">Авторы</a></span>
                    {{ range $_, $g := .Genres }}
                    <span><a href="/books/genre/{{ $g.Link }}">{{ $g.Name }}</a></span>
                    {{ end }}
                </div>
            </div>
            <div class="main">
                <div class="link">
                    <div>
                        {{ range $_, $u := .URL_NAME }}
                        <a href='{{ index $.URLs $u }}'>{{ $u }}</a>
                        {{ end }}
                    </div>
                    <hr>
                </div>
                <h2>{{ .Title }}</h2>
                <div class="books">
                    {{ range $_, $b := .Books }}
                    <div class="book">
                        <div class="img">
                            <a href="/book/{{ $b.UUID }}">
                                <img src="../../assets/image/book_covers/{{ $b.Photo }}" alt="обложка книги">
                            </a>   
                        </div>
                        <div class="content">
                            <div class="name"><a href="/book/{{ $b.UUID }}">{{ $b.Name }}</a></div>
                            <div class="authors">
                                {{ range $_, $ba := $b.Authors }}
                                <div><a href="{{ $ba.UUID }}">{{ $ba.Firstname }}  {{ $ba.Lastname }}</a></div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>            
            </div>
        </main>
    </div>
</body>
</html>

{{ end }}
